
@{
    ViewBag.Title = "Home";
}
<div class="container">
    <div class="jumbotron">
    <h1>Dobrodosli!</h1>

        <h2>Za rezervaciju knjiga registrirajte se ili se ulogirajte!</h2>
    </div>
</div>